{% extends "general.html" %}
{% load menu_tags cms_tags i18n %}

{% block content %}
<h2>77% młodych kobiet cierpi na problemy skórne o charakterze trądzikowym</h2>
<h3>Myślałaś, że trądzik to tylko złe wspomnienie z okresu dojrzewania? Nic bardziej mylnego! <br /><br />
    Rozwiązanie: 3 PEWNE KROKI w profilaktyce i terapii trądziku
</h3>
<ul class="products">
<li id="gel"></i><a href="#"><h2>ACNAID Gel</h2><p>Celuje w sam środek problemu</p></a></li>
<li id="liquid"><a href="#"><h2>ACNAID Liquid Soap</h2><p>Łagodzi i dochodzi do sedna sprawy</p></a></li>
<li id="cleanser"><a href="#"><h2>ACNAID Gel</h2><p>Zmywa przeciwnika</p></a></li>
</ul>
<p class="info">3 WYGODNE PRODUKTY ACNAID® oparte na:</p>
<ul id="ingredients">
    <li>- NOWOCZESNEJ TECHNOLOGII <br /> stabilizowany żel 4% nadtlenku wodoru H2O2+ 0,5% kwasu salicylowego + 4% D-pantenolu)</li>
    <li>- EKSKLUZYWNYCH EKSTRAKTACH LILII WODNEJ i BIAŁEJ HERBATY</li>
</ul>
<a href="#" class="ask">zadaj pytanie</a>
<a href="#" class="buy">zobacz gdzie kupić</a>
{% endblock content %}    