{% extends "base.html" %}
{% load menu_tags cms_tags i18n %}

{# {% block extra_css %}{% endblock extra_css %} #}
{% block main %}
<section id="main">
	<div class="container">
		<section id="promo">
			<ul>
				{% placeholder "slides" %}
			</ul>
			<div class="pagination"></div>
            {% placeholder "main_slogan" %}
        </section>
        <section id="lines">
            <h4>
                {% placeholder "main_slogan_under_menu" %}
            </h4>
			<ul>
				<li id="l-15"><a href="#">{% placeholder "main_linia_15" %}</a></li>
				<li id="l-30"><a href="#">{% placeholder "main_linia_30" %}</a></li>
			</ul>
        </section>
    {# </div> #}
		</section>
{% endblock main %}