{% extends "base.html" %}
{% load i18n menu_tags cms_tags %}

{% block body_class %}product{% endblock body_class %}
{% block main %}
<section id="main">
    <div id="main-bg"></div>
    <div  class="container">
        <article id="product-details">
            <h2>{% placeholder "invisible_visual_description" or %}Sięgnij już dziś po klucz do sukcesu w profilaktyce i terapii trądziku.{% endplaceholder %}</h2>
            <a href="{% page_url "stores" %}" class="buy">jak kupić?</a>
            <h3>{% placeholder "broad_description" %}<br /> <strong>{% placeholder "name" %}</strong></h3>
            <span class="capacity">{% placeholder "name_subtitle" %}</span>
            <p class="entry-text">{% placeholder "description" %}</p>
            <div id="box-wrapper">
                <div class="left">
                    {% placeholder "left_column_boxes" %}
                </div>
                <div class="right">
                    {% placeholder "right_column_boxes" %}
                </div>
            </div>
            {% placeholder "below_columns" %}
        </article>
    <aside>
        <div class="see-other">
            <strong>Zobacz pozostałe produkty</strong>
            {% placeholder "see-other-links" %}
        </div>
        <div id="learn-more-link">
            {% placeholder "learn-more-link" %}
        </div>
    </aside>
    </div>
</section>    
{% endblock main %}